body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  background-color: hsl(20, 50%, 98%);
}

h1 {
  margin: 50px 100px;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}


.container {
  margin-left: 90px;
  display: flex;
  
}

.desserts-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 70%;
}
.cart-section {
  position: fixed;
  top: 20px; 
  right: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px; 
  height: auto;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 100;
 
}
.cart-section h2 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(14, 57%, 51%);
  text-align: left;
}



.cart-section img {
  width: 50%;
}

.cart-items{
  list-style-type: none;
  text-align: left; 

}

#order-button {
  font-size: 14px; 
  width: 90%;
  padding: 12px;
  background-color: hsl(14, 57%, 51%);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px; 
}
#order-button:hover {
  background-color: hsl(14, 65%, 42%); 
}

.hidden {
  display: none;
}

.dessert {
  border-radius: 10px;
  text-align: center;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

.dessert button {

  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: white;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
 
}

button:hover {
  color: hsl(14, 86%, 42%);
}

button .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
  
}


h6 {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-align: left;
  margin-bottom: 2px;
}

h5 {
 
  text-align: left;
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin: 2px 0;
}

h5:last-of-type {
  text-align: left;
  font-size: 16px;
  color: rgb(200, 72, 29);
  font-weight: 700;
  margin-top: 2px;
}


.attribution {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
  }

  .desserts-section {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 10px;
  }

  .cart-section {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    
  }

  button {
    width: 80%;
  }

  h1 {
    margin: 20px 0;
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .desserts-section {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .cart-section {
    width: 90%;
    margin-top: 10px;
   
    
  }

  h1 {
    font-size: 24px;
  }

  button {
    padding: 12px;
    font-size: 14px;
  }

  .attribution {
    text-align: center;
  }
}